<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="/pages/photogallery/style.css">
    <title>FlickrPhotoWall</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  </head>
  <body>
    <div class="ui container">
      <form class="search-wrapper cf">
        <input id="SearchInput" type="text" placeholder="Type a topic" required="">
        <button id="SearchSubmit" type="button"> <span class="fontawesome-search"></span>
        </button>
      </form>
      <div id="images" class="gallery cf"></div>
    </div>
  </body>
  <script type="text/javascript" src="/pages/photogallery/script.js"></script>
</html>
