@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body{
  text-align:center;

  background-color:#ebebeb;
}

.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

 /* Form wrapper styling */
.search-wrapper {
width: 240px;
margin: 45px auto 50px auto;

}

/* Form text input */

.search-wrapper input {
width: 160px;
height: 20px;
padding: 10px 15px;
float: left;
font: normal 16px 'Arial', 'Tahoma';
border: 0;
background: #fff;
border-radius: 5px 0 0 5px;
}

.search-wrapper input:hover + .search-wrapper button {
    background: #ccc
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;

}

.search-wrapper input::-webkit-input-placeholder {
   color: #c6c7c6;
   font-weight: normal;

}

.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.search-wrapper button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 40px;
width: 50px;
font: bold 18px 'Arial', 'Tahoma';
color: white;
background: #c1c1c1;
border-radius: 0 5px 5px 0;
transition: all 2.0s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.search-wrapper button:hover{
    background: #5cc924;
    transition: all 2.0s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.search-wrapper button:active,
.search-wrapper button:focus{
    background: #329400;
    outline: 0;
    transition: all 0s linear;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -ms-transition: all 0s linear;
    -o-transition: all 0s linear;

}

.search-wrapper button:hover:before{
    border-right-color: #e54040;

}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
}

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

/* galery showroom */
@media screen and (min-width: 0px) {
  @import url('http://fonts.googleapis.com/css?family=Open+Sans:300');

  .gallery {
    width: 300px;
    margin: 0 auto;
    padding: 4px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
  }

  .gallery > div {
    position: relative;
    float: left;
    padding: 10px;
  }

  .gallery > div > img {
    display: block;
    width: 280px;
    height: 280px;
    transition: .1s transform;
    transform: translateZ(0); /* hack */
    border-radius: 4px;
  }

  .gallery > div:hover {
    z-index: 1;
  }

  .gallery > div:hover > img {
    transform: scale(1.1,1.1);
    transition: .4s transform;
  }
}

@media screen and (min-width: 600px) {
  @import url('http://fonts.googleapis.com/css?family=Open+Sans:300');

  .gallery {
    width: 580px;
    margin: 0 auto;
    padding: 4px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
  }

  .gallery > div {
    position: relative;
    float: left;
    padding: 5px;
  }

  .gallery > div > img {
    display: block;
    width: 280px;
    height: 280px;
    transition: .1s transform;
    transform: translateZ(0); /* hack */
    border-radius: 4px;
  }

  .gallery > div:hover {
    z-index: 1;
  }

  .gallery > div:hover > img {
    transform: scale(1.1,1.1);
    transition: .4s transform;
  }
}

@media screen and (min-width: 1280px) {
  @import url('http://fonts.googleapis.com/css?family=Open+Sans:300');

  .gallery {
    width: 1230px;
    margin: 0 auto;
    padding: 4px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
  }

  .gallery > div {
    position: relative;
    float: left;
    padding: 5px;
  }

  .gallery > div > img {
    display: block;
    width: 400px;
    height: 400px;
    transition: .1s transform;
    transform: translateZ(0); /* hack */
    border-radius: 4px;
  }

  .gallery > div:hover {
    z-index: 1;
  }

  .gallery > div:hover > img {
    transform: scale(1.1,1.1);
    transition: .4s transform;
  }
}
