<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/HeaderLibraries.ejs %>
  </head>
  <body>
    <!-- navigation bar -->
    <div class="ui top green attached labeled icon menu">
      <div class="header item">
        <h1 class="ui green header ">Thanh Nhan Nguyen</h1>
      </div>
      <a class="item" href="/">
        <i class="home icon"></i>
        Home
      </a>
      <a class="item" href="/labs">
        <i class="lab icon"></i>
        Labs
      </a>
      <a class="item" href="/apps">
        <i class="block layout icon"></i>
        Apps
      </a>
      <a class="item active">
        <i class="user icon"></i>
        About me
      </a>
    </div>
    <!-- end navigation bar -->

    <!-- begin body part -->
    <div class="ui container basic segment">
      <h1 class="ui huge center aligned header green">MY INFORMATION</h1>
      <div class="ui three cards">
        <div class="ui card">
          <div class="image">
            <img src="https://scontent.fqlf1-1.fna.fbcdn.net/v/t31.0-8/p960x960/16179354_2202385673319336_3215036311460354471_o.jpg?oh=4a18b844b98a8cfef7c4cf762cc6b553&oe=5936BD88">
          </div>
          <div class="content">
            <a class="header">Fullname: Nguyen Thanh Nhan</a>
            <div class="meta">
              <span class="date">Birthday: 16 04 1995</span>
            </div>
            <div class="description">
              A student at OAMK with enthusiasm to become a full-stack developer
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="image">
            <img src="https://scontent.fqlf1-1.fna.fbcdn.net/v/t31.0-8/p960x960/16179354_2202385673319336_3215036311460354471_o.jpg?oh=4a18b844b98a8cfef7c4cf762cc6b553&oe=5936BD88">
          </div>
          <div class="content">
            <a class="header">Email Address:</a>
          </div>
          <div class="extra content">
            <a >Email: nguyenthanhnhan9516@gmail.com</a><br>
            <a >School email: t4ngth00@students.oamk.fi</a>
          </div>
        </div>
        <div class="ui card">
          <div class="image">
            <img src="https://scontent.fqlf1-1.fna.fbcdn.net/v/t31.0-8/p960x960/16179354_2202385673319336_3215036311460354471_o.jpg?oh=4a18b844b98a8cfef7c4cf762cc6b553&oe=5936BD88">
          </div>
          <div class="content">
            <a class="header">Others Infomation:</a>
          </div>
          <div class="extra content">
            <a href="https://github.com/t4ngth00">Github repository: https://github.com/t4ngth00</a>
            <a href="https://www.facebook.com/handonme">Facebook: https://www.facebook.com/handonme</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end body part -->
    <% include ../includes/BodyEndLibraries.ejs %>
    <!-- custom JS-->
    <script>
      $('.menu .item').tab();
    </script>
  </body>
</html>
