<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/HeaderLibraries.ejs %>
    <!-- Custom CSS  -->
    <link type="text/css" href="css/style.css">
  </head>
  <body>
    <!-- navigation bar -->
    <div class="ui top green attached labeled icon menu">
      <div class="header item">
        <h1 class="ui green header ">Thanh Nhan Nguyen</h1>
      </div>
      <a class="item" href="/">
        <i class="home icon"></i>
        Home
      </a>
      <a class="item active">
        <i class="lab icon"></i>
        Labs
      </a>
      <a class="item" href="/apps">
        <i class="block layout icon"></i>
        Apps
      </a>
      <a class="item" href="/contact">
        <i class="user icon"></i>
        About me
      </a>
    </div>
    <!-- end navigation bar -->

    <!-- begin body part -->
    <div class="ui container basic segment">
      <h1 class="ui huge center aligned header green">LABS SHOWCASE</h1>
      <h1 class="ui medium center aligned header">My labs for IMP course. All the source codes are located in this <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs"> git repository</a></h1>
      <div class="ui top attached tabular menu green">
        <a class="active item" data-tab="first">
          Lab 1
        </a>
        <a class="item" data-tab="second">
          Lab 2
        </a>
        <a class="item" data-tab="third">
          Lab 3
        </a>
        <a class="item" data-tab="fourth">
          Lab 4
        </a>
        <a class="item" data-tab="fifth">
          Lab 5
        </a>
        <a class="item" data-tab="sixth">
          Lab 6
        </a>
      </div>
      <div class="ui bottom attached tab segment active" data-tab="first">
        <div class="ui huge center aligned header green">Lab 1</div>
        <div class="ui large header">Assignment 1</div>
          <p><span class="ui header small green">Hypertext Markup Language (HTML):</span> is the set of markup symbols or codes inserted in a file intended for display on a World Wide Web browser page
          </p>
          <p><span class="ui header small green">Cascading Style Sheets (CSS):</span> is a style sheet language used for describing how HTML elements are to be displayed on screen, paper, or in other media.
          </p>
          <p><span class="ui header small green">Javascript (client-side scripting language):</span> Javascript is a programming language commonly used in web development. It was originally developed by Netscape as a means to add dynamic and interactive elements to websites.
          </p>
          <p><span class="ui header small green">Hypertext Transfer Protocol (HTTP):</span> is the set of rules for transferring files (text, graphic images, sound, video, and other multimedia files) on the World Wide Web.
          </p>
          <p><span class="ui header small green">HTML5:</span> is a revision of the Hypertext Markup Language (HTML), the standard programming language for describing the contents and appearance of Web pages. One of the design goals for HTML5 is to support for multimedia on mobile devices. New syntactic features were introduced to support this, such as video, audio and canvas tags.
          </p>
          <p><span class="ui header small green">Dynamic HTML (DHTML):</span> is a collection of technologies used together to create interactive and animated web sites by using a combination of a static markup language (such as HTML), a client-side scripting language (such as JavaScript), a presentation definition language (such as CSS), and the Document Object Model (DOM).
          </p>
        <div class="ui large header">Assignment 2</div>
          <p>Coding convention are set of rules for writing the code in proper ways in specific programming language that help developer to see and understand the code flow. They are important to follow because it’s a good way to practice your coding skill and make your code readable. Moreover, using those coding conventions help programmer to maintain their software easier.
          </p>
        <div class="ui large header">Assignment 3</div>
          <p>a. You can find the simple HTML5 <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs/tree/master/lab%201/HTML5">here</a>.
          </p>
          <p>b. The modified version <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs/tree/master/lab%201/HTML5">here</a>.
          </p>
        <div class="ui large header">Assignment 4</div>
          <p>For Google Chrome press F12 if you want to enable developer tool.
          </p>
        <div class="ui large header">Assignment 5</div>
          <p>You can find the simple personlist app with native javascript <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs/tree/master/lab%201/person-list">here</a>.
          </p>
        <div class="ui large header">Assignment 6</div>
          <p>I have installed NodeJS and test this "hello app" successfully.
          </p>
      </div>
      <div class="ui bottom attached tab segment" data-tab="second">
        <div class="ui huge center aligned header green">Lab 2</div>
        <div class="ui large header">Assignment 1</div>
          <p><span class="ui header small green">Responsive web design (RWD):</span> is a web development approach that creates dynamic changes to the appearance of a website,
            depending on the screen size and orientation of the device being used to view it. Before RWD, everything was only fix and nice only in a specific screen resolution. However, when we change the screen size, all the element will look like a mess.
            For example, picture keep the same resolution on every resolution so they are too big on a small screen size. Moreover, text on the screen will be displayed but in a too small size.
          </p>
          <p><span class="ui header small green">Media queries:</span> help you to create different styles for different screen size so it helps you so much on creating RWD.
          </p>
          <p><span class="ui header small green">1 "em":</span> is equal to the current font size so your margin which is defined by "em" would be follow the font size.
            It helps you so much when you change the resolution, the margin and font size will be changed simultaneously.
          </p>
        <div class="ui large header">Assignment 2</div>
          <p>Taken pictures are <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs/tree/master/lab%202/public/screenshots">here</a>.
          </p>
        <div class="ui large header">Assignment 3</div>
          <p>You can find my simple website with Responsive Web Design (RWD) <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs/tree/master/lab%202/public">here</a>.
          </p>
        <div class="ui large header">Assignment 4</div>
          <p>I have run the website on local web server successfully.
          </p>
        <div class="ui large header">Assignment 5</div>
          <p>a. b. You can find my simple website with responsive menu <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs/tree/master/lab%202/public">here</a>.
          </p>
          <p>c. We should use "figure" in addition to standard "img" elements because "img" element inside of the "figure" element is related to the main flow, its position is independent of the main flow, and if removed it should not affect the flow of the document.
          </p>
          <p>d. You can find my simple website with responsive menu and "figure" element added <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs/tree/master/lab%202/public">here</a>.
          </p>
        <div class="ui large header">Assignment 6</div>
          <p>You can find the simple personlist app with native javascript and responsive <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs/tree/master/lab%202/person-list-responsive">here</a>.
          </p>
      </div>
      <div class="ui bottom attached tab segment" data-tab="third">
        <div class="ui large header">Assignment 1</div>
          <p>Some random smile LOGO appear when we send logo to server.
          </p>
        <div class="ui large header">Assignment 2</div>
          <p>You can find the simple personlist app with native javascript, responsive and have local storage <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs/tree/master/lab%203/person-list-responsive-localstorage">here</a>.
          </p>
        <div class="ui large header">Assignment 3</div>
          <p>I have create simple webpage which use "audio" elements of HTML5 with custom "pause" and "play" buttons. You can find it <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs/tree/master/lab%203">here</a>.
          </p>
        <div class="ui large header">Assignment 4</div>
          <p>I have create simple webpage which use "video" elements of HTML5 with custom "pause" and "play" buttons. You can find it <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs/tree/master/lab%203">here</a>.
          </p>
      </div>
      <div class="ui bottom attached tab segment" data-tab="fourth">
        <div class="ui large header">Assignment 1</div>
          <p>You can find the drawing line web application by using "canvas" <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs/tree/master/lab%204">here</a>.
          </p>
        <div class="ui large header">Assignment 2</div>
          <p>You can find the simple web game with "canvas" <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs/tree/master/lab%204">here</a>.
          </p>
      </div>
      <div class="ui bottom attached tab segment" data-tab="fifth">
        <div class="ui large header">Assignment 1</div>
          <p><span class="ui header small green">With JQuery:</span> I can navigate a document, select DOM elements, create animations, handle events, and develop Ajax applications.
          </p>
          <p><span class="ui header small green">As a developer,</span> JQuery can help me to optimize my source codes and reduce the coding time.
          </p>
          <p><span class="ui header small green">For the persons list application,</span> I can use JQuery on click event, get the value from input, even if I can use local storage by JQuery.
          </p>
          <p><span class="ui header small green">A content delivery network (CDN)</span> is a system of distributed servers (network) that deliver webpages and other
            Web content to a user based on the geographic locations of the user, the origin of the webpage and a content delivery server.
            This service is effective in speeding the delivery of content of websites with high traffic and websites that have global reach.
          </p>
        <div class="ui large header">Assignment 2</div>
          <p>In person list app, I have changed native Javascript code to JQuery. You can find the simple personlist app with Jquery, responsive and have local storage <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs/tree/master/lab%205/person-list-responsive-localstorage-jquery">here</a>.
          </p>
        <div class="ui large header">Assignment 3</div>
          <p>You can find the load JSON web application <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs/tree/master/lab%205/AJAX%20app">here</a>.
          </p>
      </div>
      <div class="ui bottom attached tab segment" data-tab="sixth">
        <div class="ui large header">Assignment 1</div>
          <p>You can find the FlickrPhotoWall application <a class="ui small header green" href="https://github.com/t4ngth00/IMP-labs/tree/master/lab%206">here</a>.
          </p>
      </div>
    </div>
    <!-- end body part -->
    <% include ../includes/BodyEndLibraries.ejs %>
    <!-- custom JS-->
    <script>
      $('.menu .item').tab();
    </script>
  </body>
</html>
